body{
  text-align: center;
}

input{
  width: 70px;
  font-size: 50px;
  color: white;
  margin: 1px;
  background-color: blue;
  text-align: center;
  text-transform: Lowercase;
}

button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 10px 24px;
}

button:hover {
    background-color: blue;
    color: white;
}
